* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.section-h1 {
    text-align: center;
    color: #00999D;
    padding-top: 20px;
    font-weight: 700;
}

nav img {
    height: 90px;
}

nav {
    height: 100px;
    width: 100%;
    background-color: black;
}

nav ul {
    list-style: none;
    display: flex;
    position: relative;
    top: 45px;
    float: right;
}

nav ul li {
    margin: 0px 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

ul li a:hover {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

main {
    height: 500px;
    background-image: url(img/wash-img_4176.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main button {
    background-color: #00999D;
    font-size: 24px;
    width: 200px;
    color: white;
    border-radius: 20%;
    padding: 10px;
    border: none;
    font-weight: 700;
}

main button:hover {
    background-color: #04777a;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.text {
    width: 50%;
    padding: 30px;
}

.dietimg  {
    height: 15em;
}

